[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "drhur"]
	path = drhur
	url = https://github.com/sammo3182/drhur
[submodule "drhutools"]
	path = drhutools
	url = https://github.com/sammo3182/drhutools
[submodule "interplot"]
	path = interplot
	url = https://github.com/sammo3182/interplot
[submodule "regioncode"]
	path = regioncode
	url = https://github.com/sammo3182/regioncode
